<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
                <!-- /input-group -->
            </li>
            <!-- <li>
                <a>
                    <i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>
            <li>
                <a (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Charts
                    <span class="fa arrow"></span>
                </a>
                <ul id="collapseBasic" [collapse]="isCollapsed">
                    <li>
                        <a>Flot Charts</a>
                    </li>
                    <li>
                        <a>Morris.js Charts</a>
                    </li>
                </ul>
              
            </li> -->
            <li>
                <a>
                    <i class="fa fa-table fa-fw"></i> Tables</a>
            </li>
            <li>
                <a>
                    <i class="fa fa-edit fa-fw"></i> Forms</a>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>