<header>
  <!-- header-area start -->
  <div  class="sticy-header header-area">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12">

          <!-- Navigation -->
          <nav class="navbar navbar-default">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".bs-example-navbar-collapse-1"
                aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <!-- Brand -->
              <a class="navbar-brand page-scroll sticky-logo" >
                <h1>
                  LIBRARY<span>.IO</span></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <img src="img/logo.png" alt="" title=""> -->
              </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse main-menu bs-example-navbar-collapse-1" id="navbar-example">
              <ul class="nav navbar-nav navbar-right">
                <li style="cursor:pointer" [ngClass]="{'active': selectedItem == 'Home'}" (click)="listClick($event, 'Home')">
                   <a class="page-scroll" [ngx-scroll-to]="'#home-tab'">Home</a>
                </li>
                <li style="cursor:pointer" [ngClass]="{'active': selectedItem == 'About'}" (click)="listClick($event, 'About')">
                  <a class="page-scroll" [ngx-scroll-to]="'#about-tab'">About</a>
                </li>
                <li style="cursor:pointer" [ngClass]="{'active': selectedItem == 'Services'}" (click)="listClick($event, 'Services')">
                  <a class="page-scroll" [ngx-scroll-to]="'#services-tab'">Services</a>
                </li>
                <li style="cursor:pointer" [ngClass]="{'active': selectedItem == 'Conactus'}"  (click)="listClick($event, 'Conactus')">
                  <a class="page-scroll" [ngx-scroll-to]="'#conactus-tab'">Contact</a>
                </li>
                <li style="cursor:pointer" routerLink="/admin" >
                  <a class="page-scroll">Admin</a>
                </li>
                <li style="cursor:pointer">
                  <a class="page-scroll" >User</a>
                </li>
              </ul>
            </div>
            <!-- navbar-collapse -->
          </nav>
          <!-- END: Navigation -->
        </div>
      </div>
    </div>
  </div>
  <!-- header-area end -->
</header>