@import '../../../shared/scss/shared.scss'; 
 
 .header-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background: rgba(0, 0, 0, 0.40);
    z-index: 9;
  }
  
  .navbar-header a.navbar-brand {
    display: inline-block;
    height: 70px;
    padding: 15px 0;
  }
  
  .main-menu ul.navbar-nav li {
    display: inline-block;
    padding: 0px 13px;
  }
  
  .main-menu ul.navbar-nav li a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding: 24px 0px;
    text-transform: capitalize;
    letter-spacing: 1px;
  }
  
  .main-menu ul.navbar-nav li.active a::after {
    border: 1px solid #fff;
    bottom: 0px;
    content: "";
    left: 0;
    position: absolute;
    width: 100%;
  }
  
  .main-menu ul.navbar-nav li.active a:hover {
    background: none;
    color: #fff;
  }
  
  .main-menu ul.navbar-nav li.active a:focus {
    color: #fff;
  }
  
  .main-menu ul.navbar-nav li.active a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #fff;
    position: relative;
  }
  
  .main-menu ul.navbar-nav li a:hover {
    color: #3EC1D5;
  }
  
  .navbar {
    border: medium none;
    margin-bottom: 0;
  }
  
  .navbar-default {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  }
  
  .main-menu ul.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    background: none;
    color: #333;
  }
  
  .navbar-default .navbar-toggle {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    padding: 25px 0px;
  }
  
  .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    background-color: transparent;
    color: #fff;
  }
  
  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background: none;
  }
  
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
    width: 30px;
    height: 2px;
  }
  
  .top-right.text-right {
    float: right;
    position: relative;
    top: 24px;
    margin-left: 20px;
  }
  
  .top-right.text-right>li {
    float: right;
    margin: 0px 8px;
  }
  
  .top-right.text-right li a {
    color: #fff;
  }
  
  /*--------------------------------*/
  
  /* 2.1. Stick menu
  /*--------------------------------*/
  
  .header-area.stick {
    background-color: rgba(0, 0, 0, 1);
    height: 70px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999999;
  }
  
  .stick .navbar-header a.navbar-brand {
    display: inline-block;
    height: 90px;
  }
  
  .stick .navbar-brand>img {
    display: none;
  }
  
  .stick .navbar-brand.sticky-logo>img {
    display: block;
  }
  
  .sticky-logo h1 {
    color: #fff;
    padding: 0;
    margin: 0;
    font-size: 36px;
    font-weight: bold;
    line-height: 1;
  }
  
  .sticky-logo h1 span {
    color: #3ec1d5;
  }
  .stick .main-menu ul.navbar-nav li.active a::after {
    border: 1px solid #fff;
    bottom: 0px;
    content: "";
    left: 0;
    position: absolute;
    width: 100%;
  }
  
  .stick .main-menu ul.nav>li>a:hover {
    color: #fff;
  }
  
  .stick .main-menu ul.navbar-nav li.active a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #fff;
    position: relative;
  }
  
  .stick .mainmenu ul#nav>li:hover>a, .stick .mainmenu ul#nav li .mega-menu, .stick .mainmenu ul#nav li ul.sub-menu {
    background-color: #f5f5f5;
    color: #fff;
    outline: medium none;
  }
  
  .stick .mainmenu ul#nav li:hover ul.sub-menu li a:hover, .mainmenu ul#nav li .mega-menu span>a:hover, .stick .mainmenu ul#nav li .mega-menu-shop a.mega-menu-title:hover {
    color: #fff;
  }
  
  .stick .logo {
    height: 20px;
  }
  
  .stick .logo a {
    margin-top: 0px;
  }
  
  .stick .main-menu ul.nav>li>a {
    color: #fff;
    line-height: 22px;
    padding: 24px 0px;
    text-transform: capitalize;
    letter-spacing: 1px;
  }
  
  .stick .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
    width: 30px;
    height: 2px;
  }
  
  .stick .navbar-default .navbar-toggle {
    padding: 10px 0px;
  }
   

  .sticy-header{
    position: fixed !important;
    top: 0;
    width: 100%;
}