<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header" style="color:red">Dashboard</h1>
    </div>
    <!-- /.col-lg-12 -->
  </div>

  
  <!-- /.row -->

  <!-- /.row -->
</div>